<style type="text/css">
  body {
      width: 50em;
      margin-top: 2em;
      margin-left: 5em;
      margin-right: 5em;
  }
  h2, h3, h4, h5, h6, dt {
      margin-bottom: 0;
  }
  p {
      line-height: 1.5;
  }
  pre {
  	background: lightblue;
  	padding: 1em;
  	border: solid 1px;
        font-size: 120%;
  }
  code {background: lightblue; }
  pre code {color: black;}
  dt {font-weight: bold;}
</style>
